= simple_form_for [trainer_profile, service] do |f|
  = f.input :title
  = f.input :description
  = f.input :duration
  = f.input :price, label: "Price $", placeholder: "100"
  = f.input :category
  = f.button :submit
