%div
  %table
    %thead
      %tr
        %th
          %h3
            Title
        %th 
          %h3
            Description
        %th
          %h3
            Duration
        %th
          %h3
            Price
    %tbody
      - trainer_profile.services.each do |service|
        %tr
          %td 
            = service.title
          %td 
            = service.description
          %td 
            = service.duration
          %td 
            = service.price
          - if current_user == trainer_profile.user
            %td 
              = button_to "Edit Service", edit_trainer_profile_service_path(trainer_profile, service), method: :get
