Home page

= link_to "Sign up", new_user_registration_path(role: "member")
= link_to "Get Listed", new_user_registration_path(role: "trainer")


= form_tag trainer_profiles_path, method: :get do
  %p
    = text_field_tag :query, params[:query]
    = submit_tag "Search Trainers", name: nil
