.row.section.services
  %h3
    Services
  .section-border
    &nbsp;
  .row.service.hide-for-small
    .small-12.large-3.columns
      %h5
        Service
    .small-12.large-5.columns
      %h5
        Description
    .small-6.large-2.columns
      %h5
        Price
    .small-6.large-1.columns.left
      %h5
        Duration
  - trainer_profile.services.each do |service|
    .row.service
      .small-12.large-3.columns.serv-title
        %h6
          = service.title
        %p
          = link_to "Edit", edit_trainer_profile_service_path(trainer_profile, service), class: "button small"
          = link_to "Remove", trainer_profile_service_path(trainer_profile, service), method: :delete, confirm: "Are you sure?", class: "button small alert"
      .small-12.large-5.columns.serv-description
        %span.subheader
          = service.description
      .small-6.large-2.columns.serv-price
        %span.hide-for-medium-up
          = "Price: $#{service.price}"
        %span.hide-for-small
          = "$#{service.price}"
      .small-6.large-1.columns.left.serv-duration
        %span
          = service.duration
  .row.columns#new-service
    = link_to "Add a new service", new_trainer_profile_service_path(trainer_profile), class: "button"
