%div.search-holder
  = render 'layouts/search_form'
= render 'layouts/notifications'

.row
  .large-4.left.columns
    .search-map
      = gmaps4rails(@json)
  .large-6.large-offset-1.columns.left
    - @profiles.each do |profile|
      .row.large-offset-1.profile-box
        .avatar
          =image_tag profile.user.avatar_url(:micro)
        .profile-text
          %h4
            = link_to "#{profile.user.username}", trainer_profile_path(profile)
          %h6.subheader
            = profile.locations.first.street_address

    .row.large-offset-1.pag-links
      = paginate @profiles
