%div.search-holder
  = render 'layouts/search_form'
= render 'layouts/notifications'

.row
  .large-4.left.columns
    .search-map
      = gmaps4rails(@json)
  .large-7.large-offset-1.columns.left
    - @profiles.each do |profile|
      .row.large-offset-1.profile-box
        %h4
          = link_to "#{profile.user.username}", trainer_profile_path(profile)
    .row.large-offset-1.pag-links
      = paginate @profiles
