%div.search-holder
  = render 'layouts/search_form'
= render 'layouts/notifications'

.row
  .large-5.left.columns
    .search-map
      = gmaps4rails(@json)
  .large-6.large-offset-1.columns.left#search-results
    - @profiles.each do |profile|
      .row.large-offset-1.profile-box
        .avatar.left
          =image_tag profile.user.avatar_url(:small)
        .row.columns.left.prof-text-container
          .profile-text.columns
            %h6
              = link_to "#{profile.owner_full_name}", trainer_profile_path(profile)
            %h6.subheader.address
              - if profile.locations.count > 1
                = "#{profile.locations.first.full_address}, ..."
              - else
                = profile.locations.first.full_address 
            %h6
              = link_to "Recommend",
              trainer_profile_path(profile), class: "button tiny"
              %span.count
                = profile.recommendations.count
            
    .row.large-offset-1.pag-links
      = paginate @profiles
