%h1 Trainer Index
= form_tag trainer_profiles_path, method: :get do
  %p
    = text_field_tag :query, params[:query]
    = submit_tag "Search Trainers", name: nil

= gmaps4rails(@json)

- @trainer_profiles.each do |profile|
  %h2
    = link_to "#{profile.user.username}", trainer_profile_path(profile)
