%div.search-holder
  = render 'layouts/search_form'
= render 'layouts/notifications'

.row
  .large-5.left.columns
    .search-map
      = gmaps4rails(@json)
  .large-6.large-offset-1.columns.left#search-results
    - @profiles.each do |profile|
      - cache ['search_result', profile.user] do
        = render 'profile_box_result', profile: profile

    .row.large-offset-1.pag-links
      = paginate @profiles
