.row
  .row.profile-info
    .small-5.large-3.columns.small-centered.large-uncentered.avatar-box
      .row
        .columns
          = image_tag @trainer_profile.user.avatar_url(:large)
        .columns.avatar-box-text
          %p
            %span.rec-btn
              = link_to "Recommend", trainer_profile_path(@trainer_profile,
                :anchor => "#recommendations"),
                class: "button tiny columns small-6 large-6"
            %span.count
              = @trainer_profile.recommendations.count
          %p
            %span Specialties:
            %span
              = @trainer_profile.specialty_titles.join(", ")
    .small-12.large-5.columns.contact-info
      %h1
        = "#{@trainer_profile.owner_full_name}"
      %p
        - locations_list(@trainer_profile).each do |address|
          %p.subheader
            = address
      %p.subheader
        = @trainer_profile.phone_number
      %p.subheader
        = link_to @trainer_profile.website, "http://" + @trainer_profile.website
      %p.subheader.about
        = @trainer_profile.about
    .large-3.columns.right.trainer-map
      - unless @trainer_profile.locations.empty?
        = gmaps4rails(@json)
  .row.profile-divider.hide-for-small
    &nbsp;





= render 'services/list', trainer_profile: @trainer_profile

= render 'specialties/list', trainer_profile: @trainer_profile

- unless @trainer_profile.user == current_user
  %h3
    = "Write a recommendation for #{@trainer_profile.user.first_name}"

  = render 'recommendations/form', { trainer_profile: @trainer_profile, recommendation: @recommendation  }

= render 'recommendations/list', trainer_profile: @trainer_profile
