%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        = link_to "Fitzo", root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      %li.divider.hide-for-small
      - if user_signed_in?
        %li 
          = link_to "Signed in as #{current_user.username}"
        %li.divider
        %li
          = link_to "Search Trainers", trainer_profiles_path
        %li.divider
        - if current_user.role == "trainer"
          %li
            = link_to "My Profile", trainer_profile_path(current_user.trainer_profile)
          %li.divider
        %li.has-dropdown
          =link_to "Settings", "#"
          %ul.dropdown
            %li.divider
            %li
              = link_to "Edit Account", edit_user_registration_path
            - if current_user.role == "trainer"
              %li
                = link_to "Edit Profile", edit_trainer_profile_path(current_user.trainer_profile)
            %li.divider
            %li
              = link_to "Sign out", destroy_user_session_path, :method => :delete
      - else
        %li
          = link_to "Search Trainers", trainer_profiles_path
        %li.divider
        %li
          = link_to "Sign up", new_user_registration_path, id: "nav-sign-up"
        %li.divider
        %li
          = link_to "Sign in",new_user_session_path
      
