%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        = link_to "Fitzo", root_path
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      - if user_signed_in?
        %li
          %li.has-dropdown
            = link_to "#{current_user.username}", "#"
            %ul.dropdown
              %li
                = link_to "Edit Account", 
                  edit_user_registration_path(current_user)
              %li
                = link_to "Sign out", destroy_user_session_path, method: :delete
      - else
        %li.divider
        %li
          = link_to "Sign in", new_user_session_path

      