%nav.top-bar
  %ul.title-area
    / Title Area
    %li.name
      %h1
        = link_to "Fitzo", root_path
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      %li.divider.hide-for-small
      - if user_signed_in?
        %li 
          = link_to "Signed in as #{current_user.username}"
        - if current_user.role == "trainer"
          %li.divider
          %li
            = link_to "Edit Profile", edit_user_trainer_profile_path(current_user)
        %li.divider
        %li
          = link_to "Edit Account", edit_user_registration_path
        %li.divider
        %li
          = link_to "Sign out", destroy_user_session_path, :method => :delete
      - else
        %li 
          = button_to "Sign up", new_user_registration_path, method: :get, class: "button small success"
        %li.divider
        %li
          = link_to "Sign in",new_user_session_path
